.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name-label,
#mobile-label,
#email-label,
#password-label {
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
}

#register-form {
  height: 600px;
  width: 380px;
  padding: 20px;
  border: 1px solid rgb(214, 209, 209);
  margin-top: 20px;
}

#submit-btn {
    margin-top: 20px;
}

#title-signin{
    font-size: 15px;
    margin-top: 20px;
}


@media (max-width: 500px) {
  #register-form {
    width: 90%;
  }
}