.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#amazon-logo-img {
  height: 50px;
  width: 140px;
}

#login-form {
  height: 370px;
  width: 380px;
  padding: 20px;
  border: 1px solid rgb(214, 209, 209);
  margin-top: 20px;
}

#title-sign {
  font-size: 30px;
  font-weight: 400;
}

#email-label {
  font-weight: 600;
  font-size: 15px;
}

#submit-btn {
  width: 100%;
  margin-top: 10px;
  background: linear-gradient(to bottom, #ffffff -6%, #ffcc66 100%);
  color: black;
}

#submit-btn:hover {
    background: linear-gradient(to bottom, #ffffff -6%,  #ffcc66 28%);
}

#title-terms {
  margin-top: 30px;
  font-size: 14px;
}

#create-account-btn {
  width: 380px;
  background-color: #eeeff2;
  color: black;
  font-weight: 400;
  font-size: 14px;
}

#create-account-btn:hover {
    background: linear-gradient(to bottom, #ffffff -6%,   #c5c9d3 100%);
}

#register-link {
  text-decoration: none;
  color: black;
}


@media (max-width: 500px) {
 

  #create-account-btn {
    width: 100%;
  }
}