.search-bar {
  display: flex;
  border-radius: 0;
  background-color: #f6bc68;
  padding: 2px;
}

#search-input {
  width: 24cm;
}

#dropdown-main {
    background-color: #f3f3f3;
    color: black;
    border: none;
    align-items: center;
    margin-left: 2px;
    margin-top: 1px;
}

#dropdown-menu {
  font-size: 15px;
  height: 360px;
  overflow-y: scroll;
}

#search-btn {
  background-color: #f6bc68;
  border: none;
}

#search-icon {
    font-size: 20px;
}

@media (max-width: 500px) {
  #search-input{
    width: 80%;
  }
}

@media (max-width: 1200px) and (min-width: 500px) {
  #search-input{
    width: 80%;
  }
}

@media (max-width: 1700px) and (min-width: 1200px) {
  #search-input{
    width: 10cm;
  }
}