
  .no-suggestions {
    background-color: white;
    color: rgb(175, 174, 174);
    width: 24cm;
    text-align: left;
    margin-top: 40px;
    position: fixed;
  }
  
  .suggestions {
    background-color: white;
    color: black;
    width: 24cm;
    text-align: left;
    margin-top: 40px;
    position: fixed;
    font-weight: 600;
  }
  
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestions li:hover {
    background-color: rgb(228, 224, 224);
    cursor: pointer;
  }
  

  @media (max-width: 502px) {
    .no-suggestions,
    .suggestions {
      width: 55%;
      z-index: 10;
    }
  }

  @media (max-width: 1200px) and (min-width: 501px) {
    .no-suggestions,
    .suggestions {
      width: 24%;
      z-index: 10;
    }
  }

  @media (max-width: 1700px) and (min-width: 1200px) {
    .no-suggestions,
    .suggestions {
      width: 21%;
      z-index: 10;
    }
  }