.header {
  background-color: #131921;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 60px;
}

#amazon-logo-btn {
  background-image: url("../../image/amazon-png.png");
  background-repeat: no-repeat;
  background-size: 110px 35px;
  background-color: #131921;
  height: 40px;
  width: 120px;
  margin-left: 10px;
  border: none;
  padding: 10px;
}

#amazon-logo-btn:hover {
  border: 1px solid white;
}

#amazon-address-btn {
  background-color: #131921;
  border: none;
  height: 50px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

#hello-title {
  font-size: 10px;
}

#address-title {
  font-size: 14px;
  font-weight: 600;
}

#return-btn {
  background-color: #131921;
  border: none;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

#return-title {
  font-size: 12px;
}

#order-title {
  font-size: 15px;
  font-weight: 600;
}

#return-btn:hover {
  border: 1px solid white;
}

@media (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    row-gap: 10px;
  }

}

@media (max-width: 1200px) and (min-width: 500px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 200px;
  }

}

@media (max-width: 1700px) and (min-width: 1200px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100px;
  }
}