#shopping-btn {
    background-color: #131921;
    height: 60px;
    
}

#cart-img {
    height: 40px;
    width: 40px;
}

#item-number {
    font-weight: 600;
    color: #f6bc68;
    position: absolute;
    margin-left: 18px;
    margin-top: -5px;
}

#cart-title {
    font-weight: 600;
    color: white;
}

#cart-link{
    text-decoration: none;
}