#dropdown-signin {
    background-color: #131921;
    height: 60px;
    border: none;
    text-align: left;
}

#login-hello {
    font-size: 12px;
}

#accountList {
    font-size: 15px;
    font-weight: 600;
}

#dropdown-btn-signin {
    background:  #ffcc66;
    border: none;
    border-radius: 5px;
    width: 200px;
}

#dropdown-btn-signin:hover {
    background:  #eb9e05;
}

#dropdown-register-link{
    font-size: 15px;
    margin-bottom: 10px;
}

#dropmenu-signin {
    height: 400px;
    width: 500px;
    margin-right: 250px;
}

#dropitem-signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#dropitem-list {
    display: grid;
    grid-template-columns: 40% 60%;
}

li {
    list-style: none;
}

#dropitem-list li {
    font-size: 15px;
    text-align: left;
}

#link-list {
    text-decoration: none;
    color: #38393a;
}

#dropdown-signin:hover {
    border: 1px solid white;
}

#sign-link {
    text-decoration: none;
    color: #131921;
}

#register-link-drop{
    text-decoration: none;
}

#register-link-drop:hover,
#link-list:hover {
    text-decoration: underline;
    color: #eb9e05
}

@media (max-width: 375px) {
    #dropitem-list{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #dropmenu-signin {
        margin-top: 250px;
        margin-left: 160px;
        height: 600px;
        width: 300px
    }
}

@media (max-width: 500px) and (min-width: 376px) {
    #dropitem-list{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #dropmenu-signin {
        margin-top: 250px;
        margin-left: 100px;
        height: 600px;
        width: 300px
    }
}

@media (max-width: 800px) and (min-width: 500px) {

    #dropmenu-signin {
        margin-top: 180px;
        margin-left: 00px;
        height: 600px;
        width: 500px
    }
}

@media (max-width: 1100px) and (min-width: 800px) {
    #dropitem-list{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #dropmenu-signin {
        margin-left: 100px;
        height: 600px;
        width: 300px
    }
}