.item-card {
  padding: 40px;
  align-items: center;
  text-align: center;
}

#card-img {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#card {
  height: 350px;
  width: 300px;
  padding: 10px;
}

#addcart-btn {
    background-color: #ffd814;
    border: none;
    width: 200px;
    margin-top: 10px;
}

#cart-link {
    text-decoration: none;
    color: black;
}

#item-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

@media (max-width: 500px) {
  #card {
      text-align: center;
      align-items: center;
      row-gap: 5px;
      height: 380px
  }

}