#product-page {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

#product-detail {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 500px;
}

#product-head {
    font-size: 30px;
    font-weight: 500;
}

#price-product {
    font-size: 20px;
    font-weight: 600;
    color: rgb(226, 61, 32);
}

#product-page ul {
    margin-top: 40px;
}

#product-page li{
    list-style: disc;
   margin-bottom: 10px;
}



@media (max-width: 500px) and (min-width: 320px){
    #product-page {
        display: flex;
        flex-direction: column;
    }
    
    #product-detail {
        width: 100%;
        margin-bottom: 550px;
        padding: 50px;
    }
}