.main-navbar {
    height: 40px;
    background-color: #232f3e;
    color: white;
}

#list-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}

#item-button {
    height: 40px;
    background-color:#232f3e;
    border: none;
    text-decoration: none;
    color: white;
}

#item-button:hover {
    border: 1px white solid;
}

#item {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

#burger-menu {
    font-size: 30px;
}
#title-all {
    margin-left: 2px;
}

@media (max-width: 500px) {
    #list-items {
        display: flex;
        flex-direction: column;
        display: none;
    }
}

@media (max-width: 720px) and (min-width:500px) {
    .main-navbar {
        height: 100px;
    }

    #list-items {
        display: flex;
        row-gap: 10px;
        column-gap: 5px;
    }
}


@media (max-width: 1350px) and (min-width:720px) {
    .main-navbar {
        height: 80px;
    }

    #list-items {
        display: flex;
        row-gap: 10px;
        column-gap: 5px;
    }
}
