.alert-container{
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 250px;
    border: 1px red solid;
    border-radius: 5px;
    margin: 20px;
}

.alert-container img {
    height: 40px;
    width: 40px;
}

#alert-details {
    font-size: 17px;
    color: red;
    font-weight: 500;
}