#total-container {
    margin-top: 100px;
    width: 80%;
}

#subtotal-section {
    align-items: center;
    text-align: left;
    margin-top: 20px;
}

#subtotal-section i {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

#price {
    font-size: 20px;
    font-weight: 600;
}

#buy-btn {
    margin-top: 20px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #ffd814;
    color: black;
}

#total-price {
    display: flex;
    justify-content: center;
}

@media (max-width: 1700px) and (min-width: 500px){
   #total-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 50px;
   }

   #subtotal-section {
       text-align: center;
   }
}