#item-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 15px;
    border-bottom: 1px solid rgb(221, 219, 219);
    border-top: 1px solid rgb(221, 219, 219);
}

#item-details{
    width: 29cm;
}

#item-name {
    font-size: 20px;
    font-weight: 500;
    color: #007185;
}

#title-stock {
    font-size: 12px;
}

#title-eligible {
    font-size: 14px;
}

#item-options {
    display: flex;
}

#quantity-menu {
    background-color: #f0f2f2;
    color: black;
    border: none;
    margin-top: 6px;
}

#delete {
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(103, 154, 231);
}

#price-details h3{
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 500px) {
    #item-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #quantity-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 1700px) and (min-width: 500px) {
    #price-details {
        margin-right: 20px;
    }
}