.container {
    margin: 0;
    background-color: white;
    height: 400px;
    width: 90%;
    padding: 20px;
    display: flex;
    margin-top: 50px;
}

#img {
    height: 500px;
    width: 500px;
}

#details {
    margin-top: 50px;
    margin-left: 40px;
}

#title {
    font-size: 30px;
    font-weight: 500;
}

#buttons {
    margin-top: 20px;
}

#signin-btn {
    background-color: #fed928;
    color: black;
    border: none;
    border-radius: 5px;
}

#signup-btn {
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

@media (max-width:500px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #details {
        margin: 0
    }
    #img {
        height: 500px;
        width: 40%;
    }

    #buttons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #signin-btn {
        width: 80%;
    }
}