.cart-container {
    margin: 0;
    margin-top: 100px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 2em;
}

#price-title{
   font-size: 14px;
   color: rgb(86, 88, 90);
}

#classList h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}


@media (max-width:500px) {
    .cart-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:900px) and (min-width: 500px) {
    .cart-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:1700px) and (min-width: 900px) {
    .cart-container {
        grid-template-columns: 60% 40%;
    }
}