.search-container{
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 50px;
    padding: 40px;
}

#product-details {
    margin-left: 20px;
}

#product-title {
    font-size: 23px;
    color: #007185;
    font-weight: 600;
}

#product-title:hover {
    color: rgb(255, 145, 0)
}

#price {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#price h4 {
    color: rgb(221, 56, 27)
}

#price h6 {
    font-weight: 300;
    text-decoration: line-through;
}

#price span {
    font-size: 15px;
    font-weight: 400;
}

#cart-btn{
    background-color: #ffd814;
    color: #000;
    border: none;
    width: 200px;
    margin-top: 20px;
}

#title-result {
    color: red;
    font-size: 19px;
    font-weight: 500;
    margin-left: 50px;
}

@media (max-width: 500px) {
    .search-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 40px;
    }

    #product-details {
        text-align: center;
        align-items: center;
    }

    #price {
        flex-direction: column;
    }

    #title-result {
        margin: 0;
    }
}