
.header {
  background-color: #131921;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#amazon-logo-btn{
  background-repeat: no-repeat;
  background-size: 130px 46px;
  background-color: #131921;
  height: 50px;
  width: 140px;
  margin-left: 10px;
  border: none;
  padding: 10px;
}

#amazon-logo-btn:hover {
  border: 1px solid white;
}


#amazon-address-btn{
  background-color: #131921;
}

@media (max-width: 425px) {
  
}
