.footer {
    margin-top: 30px;
    width: 380px;
    align-items: center;
    text-align: center;
}

#row {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    color: rgb(0, 119, 255);
}

#title-copyright {
    font-size: 12px;
    margin-top: 10px;
}

@media (max-width: 425px) {
    #row {
        flex-direction: column;
    }
}