.footer-top {
    margin-top: 75px;
    padding: 40px;
    background-color: #232f3e;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
    font-size: 14px;
    font-weight: 400;
}

#title-list {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-top ul li {
    margin-bottom: 5px;
}

@media (max-width: 500px) {
    .footer-top {
        text-align: center;
        align-items: center;
        row-gap: 10px;
    }
}