.footer-bottom {
    background-color: #131a22;
    color: white;
    padding: 50px 420px;

}

#bottom-list {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    column-gap: 100px;
}

#list li {
    font-size: 11px;
    font-weight: 300;
}

#list #bottom-list-title {
    font-weight: 500;
}

#bottom-content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    font-size: 12px;
    font-weight: 300;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .footer-bottom {
        padding: 0;
        padding-top: 20px;
        text-align: center;
        align-items: center;
        row-gap: 10px;
    }

    #bottom-list {
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 1700px) and (min-width: 500px) {
    .footer-bottom {
        padding: 0;
        padding-top: 20px;
        text-align: center;
        align-items: center;
        row-gap: 10px;
    }

    #bottom-list {
        justify-content: center;
        text-align: center;
    }
}