.footer-middle {
  background-color: #232f3e;
  color: white;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgb(102, 101, 101);
  padding-top: 40px;
}

#logo-img img {
  height: 40px;
  width: 120px;
}

#country-list {
  margin-top: 30px;
  padding-bottom: 30px;
}

#country-list span {
  margin-left: 10px;
  font-size: 12px;
}

@media (max-width: 500px) {
  .footer-middle {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 10px;
  }

  #country-list {
    display: flex;
    flex-wrap: wrap;
  }
}
